wrapper {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

header {
    font-size: 144px;
    flex: 1 0 100%;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

container {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    cursor: pointer;
    background-color: #4a5f75;
    font-size: 5em;
}

.buttonContainer {
    padding-top: 2em;
    flex: 1 0 100%;
    flex-wrap: wrap;
    text-align: center;
}

.forceBreak {
    flex-basis: 100%;
    height: 1em;
}

.restartButton {
    padding: 0.35em 1.2em;
    width: 20%;
    border: 0.1em solid black;
    border-radius: 0.12em;
    color: black;
    background-color: white;
    text-align: center;
    transition: all 0.2s;
}

.restartButton:hover {
    color: white;
    background-color: #34495e;
    border-color: #2c3e50;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}